<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<!--<p th:if="${loginError}" class="error">Wrong username or password</p>-->
<div style="color:red" th:if="${param.error}">
    Invalid username or password
</div>
<!--<form th:action="@{/users/new}" method="post">-->
<!--    <form th:action="@{/auth}" method="post">-->
<!--        <table border="1">-->
<!--            <tr>-->
<!--                <td>Name</td>-->
<!--                <td><input type="text" name="username"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Password</td>-->
<!--                <td><input type="password" name="password/"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <button type="submit">Log in</button>-->

<form action="/login" method="post">
    <label for="username"> Username:
        <input id="username" type="text" name="username">
    </label><br>
    <label for="password"> Password:
        <input id="password" type="password" name="password">
    </label><br>
</form>
<form action="/users/new">
    <button type="submit">Log in</button>
</form>
</body>
</html>