<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:insert="~{fragments/menu :: #nav-menu}"></div>-->
<!--<p th:if="${loginError}" class="error">Wrong username or password</p>-->
<!--<form th:action="@{/users/new}" method="post">-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <td>Name</td>-->
<!--            <td><label>-->
<!--                <input type="text" name="username"/>-->
<!--            </label></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Password</td>-->
<!--            <td><label>-->
<!--                <input type="password" name="password/">-->
<!--            </label></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <button type="submit">Log in</button>-->
<!--</form>-->

<!--<div th:insert="~{fragments/menu :: #nav-menu}"></div>-->
<!--<p th:if="${loginError}" class="error">Wrong username or password</p>-->
<!--&lt;!&ndash;<div style="color:red" th:if="${param.error}">&ndash;&gt;-->
<!--&lt;!&ndash;    Invalid username or password&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<form action="/login" method="post">-->
<!--    <label for="username"> Username:-->
<!--        <input id="username" type="text" name="username">-->
<!--    </label><br>-->
<!--    <label for="password"> Password:-->
<!--        <input id="password" type="password" name="password">-->
<!--    </label><br>-->
<!--</form>-->
<!--<form action="/users/new">-->
<!--    <button type="submit">Log in</button>-->
<!--</form>-->

<!--    <div th:if="${param.error}">-->
<!--        Invalid username or password.-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Login page </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h1>Please Log in</h1>
<p th:if="${loginError}" class="error">Wrong username or password</p>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label>
            <input type="text" name="username" placeholder="Username"/>
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="password" placeholder="Password"/>
        </label>
    </div>
    <input type="submit" value="Log in"/>
</form>
</body>
</html>